* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  flex-direction: column;
  background: rgb(162,79,115);
  background: linear-gradient(130deg, rgba(162,79,115,1) 0%, rgba(224,102,115,1) 31%, rgba(243,153,151,1) 56%, rgba(250,196,148,1) 100%);
  text-align: center;
  display: flex;
  height: 400px;
  color: #ffffff;
}

header h1 {
  font-family: 'Crimson Text', serif;
  font-size: 5.2em;
  font-weight: 100;
  margin: 0px;
}

header h2 {
  font-family: 'Work Sans', sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

nav ul a {
  padding: 1.25rem 0.8rem;
  font-size: 1.1rem;
  max-width: 140px;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
}

nav ul a:hover {
  color: #33475b;
  text-shadow: 0 5px 5px rgba(0,0,0,.1);
}

header .headline {
  margin: auto;
}

footer {
  height: 45px;
  text-align: center;
  color: #ffffff;
  background: rgb(162,79,115);
  background: linear-gradient(130deg, rgba(162,79,115,1) 0%, rgba(224,102,115,1) 31%, rgba(243,153,151,1) 56%, rgba(250,196,148,1) 100%);
}
